<%- include('header') %>

<div class="flex flex-col md:flex-row min-h-screen">

    <!-- Sidebar Section (1/4 of the width) -->
    <div class="w-full bg-gray-700 md:w-1/4">
        <%- include('sidebar') %>
    </div>

    <!-- Main Content Section (3/4 of the width) -->
    <div class="w-full bg-gray-700 md:w-3/4 flex-grow p-4">
        <div class="bg-gray-900 min-h-screen p-4">
            <!-- Address Header -->
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-lg font-semibold text-white">Address</h2>
                <a class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 focus:outline-none" href="/addNewAddress">Add new</a>
                    
                
            </div>
        
            <!-- Address Card 1 -->
             <% addresses.forEach((address)=>{ %>
            <div class="bg-gray-800 p-4 rounded-lg mb-4 flex justify-between items-center">
                <div class="text-white">
                    <p><%= address.contactName  %>,</p>
                    <p><%= address.building %></p>
                    <p>Landmark :  <%= address.landmark %>,</p>
                    <p><%= address.city %> - <%= address.pincode %>,</p>
                    <p><%= address.district %>, <%= address.state %>.</p>
                    <p>Mobile: <%= address.phonenumber %></p>
                    <%= console.log("-----------",address._id) %>
                </div>
                <!-- Edit-->
                
                <div class="flex space-x-4">
                    <a href="/editAddress/<%= address._id %>" class="text-green-400 hover:text-green-500 focus:outline-none"><i class="bi bi-pencil-square text-2xl"></i></a>
                   <!-- Delete Icons  -->
                   <a href="" class="text-red-500 hover:text-red-600 focus:outline-none"><i class="bi bi-trash-fill text-2xl"></i></a>   
                </div>
            </div>
            <% }) %>
        
                                                                                                                                                                                                                                                                   
           
        x
        <!-- Add Bootstrap Icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        

    </div>

</div>